on property:ro.vendor.hw.dualsim=true
   setprop persist.vendor.radio.multisim.config dsds

on property:ro.vendor.hw.dualsim=false
   setprop persist.vendor.radio.multisim.config ""

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules moto_sched moto_binder
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules qpnp_adaptive_charge sensors_class sx937x_sar leds-gpio moto_mmap_fault

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -r -d /vendor/lib/modules zram

on late-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules moto_swap fm_ctrl

on post-fs-data
    # calibration
    mkdir /data/vendor/sensor 0774 system system
    # Sensor
    chmod 0760 /dev/hf_manager
    chown system system /dev/hf_manager
    chown system system /sys/devices/platform/soc/soc:fm_wcn39x0/elna_en

    # config fingerprint
    mkdir /data/vendor/.fps 0770 system vendor_fingerp
    mkdir /mnt/vendor/persist/fps 0770 system system
    mkdir /data/vendor/egis 0770 system vendor_fingerp
    mkdir /data/vendor/egis/cqa 0770 system vendor_fingerp
    mkdir /mnt/vendor/persist/egis 0770 system vendor_fingerp
    mkdir /mnt/vendor/persist/goodix 0770 system vendor_fingerp
    mkdir /data/vendor/gf_data 0770 system system

    chmod 0660 /dev/focaltech_fp

    # Add for OIS hall test result
    mkdir /mnt/vendor/persist/camera/ois_hall 0770 vendor_tcmd camera

    # Required by touchRec for write the touch data
    mkdir /data/vendor/touchrec 0773 input input
    chown input input /data/vendor/touchrec/bootindex
    chown input input /data/vendor/touchrec/lastbootuuid
    chown input input /data/vendor/touchrec/touch_data.txt
    chmod 0664 /data/vendor/touchrec/touch_data.txt
    chmod 0664 /data/vendor/touchrec/raw_data.bin
    chown root input /sys/class/sensors/dt-gesture/enable
    chmod 0660 /sys/class/sensors/dt-gesture/enable
    chown root input /sys/class/sensors/dt-gesture/poll_delay
    chmod 0660 /sys/class/sensors/dt-gesture/poll_delay
    chown root input /sys/class/sensors/s-dt-gesture/enable
    chmod 0660 /sys/class/sensors/s-dt-gesture/enable
    chown root input /sys/class/sensors/s-dt-gesture/poll_delay
    chmod 0660 /sys/class/sensors/s-dt-gesture/poll_delay
    chown root input /sys/class/sensors/palm-gesture/enable
    chmod 0660 /sys/class/sensors/palm-gesture/enable
    chown root input /sys/class/sensors/palm-gesture/poll_delay
    chmod 0660 /sys/class/sensors/palm-gesture/poll_delay

    # change dir permission
    mkdir /data/vendor/camera_dump
    chown root camera /data/vendor/camera_dump
    chmod 0770 /data/vendor/camera_dump

    # change camera sois save hall data
    mkdir /mnt/vendor/persist/camera/ois_hall_data 0770 vendor_tcmd camera

on init
    #insmod /vendor/lib/modules/aw86927.ko
    #insmod /vendor/lib/modules/st54lnfc.ko
    #insmod /vendor/lib/modules/st54lspi.ko

service vendor.modem-rfs-sh /vendor/bin/init.mmi.modem-rfs.sh loop 600
    class late_start
    user root
    group log system radio
    oneshot

on late-init
    #moto algo params
    chmod 0660 /sys/bus/platform/drivers/mtk_nanohub/algo_params
    chown system system /sys/bus/platform/drivers/mtk_nanohub/algo_params

service capsense_reset /vendor/bin/capsense_reset
    class core
    user system
    group system input
    task_profiles HighEnergySaving ProcessCapacityLow LowIoPriority TimerSlackHigh
    disabled

service vendor.mot_vsync_psd /vendor/bin/mot_vsync_psd
    class late_start
    user system
    group system

service vendor.mmi-cap-sh /vendor/bin/init.mmi.cap.sh
    class core
    user root
    oneshot

service nxpnfcinfo /system/vendor/bin/nxpnfcinfo
    class late_start
    group nfc
    user system
    oneshot

on property:ro.vendor.hw.nfc=nq
   insmod /vendor/lib/modules/nxp_i2c.ko
   wait /dev/nq-nci
   chown nfc nfc /dev/nq-nci
   chmod 0666 /dev/nq-nci

on property:ro.vendor.hw.nfc=ese_nq
   insmod /vendor/lib/modules/nxp_i2c.ko
   insmod /vendor/lib/modules/nxp_ese.ko
   wait /dev/nq-nci
   chown nfc nfc /dev/nq-nci
   chmod 0666 /dev/nq-nci
   wait /dev/p73
   chown secure_element secure_element /dev/p73
   chmod 0666 /dev/p73

on property:sys.boot_completed=1
    start capsense_reset
    start vendor.mmi-cap-sh
    chown system system /sys/class/touchscreen/primary/stylus_mode
    chmod 0660 /sys/class/touchscreen/primary/stylus_mode
    chown system system /sys/class/touchscreen/primary/stowed
    chmod 0660 /sys/class/touchscreen/primary/stowed

# Turn on led to indicate device on in factory mode
on property:ro.bootmode=mot-factory
    write /sys/class/leds/charging/brightness 255

on early-boot
    # Permission for Health Storage HAL
    chown system system /sys/devices/platform/soc/112b0000.ufshci/manual_gc
    chown system system /sys/devices/platform/soc/112b0000.ufshci/ufshid/trigger
    # add permission als_mpc_rawdata
    mkdir /mnt/vendor/persist/sensors  0775 system system
    chown system system /mnt/vendor/persist/sensors/als_mpc_rawdata
    chmod 0664 /mnt/vendor/persist/sensors/als_mpc_rawdata

    # for ghost log capture
    chmod 0444 /dev/tp_tools

on boot
    #recheck wireless firmware version or update firmware
    write /sys/class/power_supply/wireless/device/wireless_fw_update 1

    # Set wlc perms for HAL
    chown system system /sys/class/power_supply/wireless/device/tx_mode
    chown system system /sys/class/power_supply/wireless/device/folio_mode
    chmod 0660 /sys/class/power_supply/wireless/device/tx_mode
    chmod 0660 /sys/class/power_supply/wireless/device/folio_mode
    chown system system /sys/class/power_supply/wireless/device/wls_input_current_limit
    chown system system /sys/class/power_supply/wireless/device/wlc_light_ctl
    chown system system /sys/class/power_supply/wireless/device/wlc_fan_speed
    chown system system /sys/class/power_supply/wireless/device/wlc_st_changed
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_power
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_type
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_sn
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_capability
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_id
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_light_ctl
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_fan_speed
    chmod 0660 /sys/class/power_supply/wireless/device/wls_input_current_limit
    #change ownership for capsensor
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch0/enable
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch0/poll_delay
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch1/enable
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch1/poll_delay
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch2/enable
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch2/poll_delay
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch3/enable
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch3/poll_delay
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch4/enable
    chown system system /sys/class/sensors/Moto\ CapSense\ Ch4/poll_delay
    # change permission for capsensor
    chown system system /sys/class/capsense/reset
    chown system system /sys/class/capsense/int_state
    chown radio system /sys/class/capsense/reg
    chown radio system /sys/class/capsense/fw_download_status
    chown system system /sys/class/capsense/mode
    chmod 0660 /sys/class/capsense/reset
    chmod 0660 /sys/class/capsense/int_state
    chmod 0660 /sys/class/capsense/reg
    chmod 0660 /sys/class/capsense/fw_download_status
    chmod 0660 /sys/class/capsense/mode

    chown root system /proc/config/batt_firstusagedate
    chown system system /sys/class/power_supply/battery/manufacturing_date
    chmod 0660 /sys/class/power_supply/battery/manufacturing_date
    chown system system /sys/class/power_supply/battery/first_usage_date
    chmod 0660 /sys/class/power_supply/battery/first_usage_date
    # Set adaptive charging perms for HAL
    chown system system /sys/module/qpnp_adaptive_charge/parameters/upper_limit
    chown system system /sys/module/qpnp_adaptive_charge/parameters/lower_limit

    # touch screen calibration file
    mkdir /mnt/vendor/persist/touch
    chown vendor_tcmd system /mnt/vendor/persist/touch
    chmod 0775 /mnt/vendor/persist/touch

    # touch api
    chown system system /sys/class/touchscreen/primary/interpolation
    chmod 0660 /sys/class/touchscreen/primary/interpolation
    chown system system /sys/class/touchscreen/primary/first_filter
    chmod 0660 /sys/class/touchscreen/primary/first_filter
    chown system system /sys/class/touchscreen/primary/edge
    chmod 0660 /sys/class/touchscreen/primary/edge
    chown system system /sys/class/touchscreen/primary/gesture
    chmod 0660 /sys/class/touchscreen/primary/gesture
    chown system system /sys/class/touchscreen/primary/sample
    chmod 0660 /sys/class/touchscreen/primary/sample
    chown system system /sys/class/touchscreen/primary/log_trigger
    chmod 0660 /sys/class/touchscreen/primary/log_trigger
    chown system system /sys/class/touchscreen/primary/rotate
    chmod 0660 /sys/class/touchscreen/primary/rotate
    chown system system /sys/class/touchscreen/primary/sensitivity
    chmod 0660 /sys/class/touchscreen/primary/sensitivity

on boot && property:ro.bootmode=mot-factory
    # Change ownership and permission for charge pump factory testing
    chown vendor_tcmd system /sys/class/power_supply/cp-standalone/voltage_now
    chown vendor_tcmd system /sys/class/power_supply/cp-standalone/device/force_chg_auto_enable
    chmod 0600 /sys/class/power_supply/cp-standalone/device/force_chg_auto_enable

    #change flip battery charging test command file access permission
    chown vendor_tcmd system /sys/class/power_supply/charger/device/chg_en
    chown vendor_tcmd system /sys/class/power_supply/charger/device/charger_suspend
    chown vendor_tcmd system /sys/class/power_supply/charger/input_current_limit
    chown vendor_tcmd system /sys/class/power_supply/charger/constant_charge_current

on fs
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules nova_0flash_mmi_v3 focaltech_0flash_mmi_v3

# camera eeprom calibration
on property:sys.boot_completed=1
    chmod 0644 /data/vendor/camera_dump/mot_gt24p256c_s5kjns_eeprom.bin
    chmod 0644 /data/vendor/camera_dump/mot_kansas_sc202acs_otp.bin
    chmod 0644 /data/vendor/camera_dump/mot_gt24p128g_s5k3p9_eeprom.bin

on moto-post-fs-data-fs-tune
    write /sys/block/${dev.mnt.dev.root}/queue/read_ahead_kb 2048
    write /sys/block/${dev.mnt.dev.system_ext}/queue/read_ahead_kb 2048
    write /sys/block/${dev.mnt.dev.product}/queue/read_ahead_kb 2048
    write /sys/block/${dev.mnt.dev.vendor}/queue/read_ahead_kb 2048
    write /sys/block/${dev.mnt.dev.vendor_dlkm}/queue/read_ahead_kb 2048
    write /sys/block/${dev.mnt.dev.data}/queue/read_ahead_kb 2048

on moto-boot-completed-fs-tune
    write /sys/block/dm-0/queue/read_ahead_kb 512
    write /sys/block/dm-1/queue/read_ahead_kb 512
    write /sys/block/dm-2/queue/read_ahead_kb 512
    write /sys/block/dm-3/queue/read_ahead_kb 512
    write /sys/block/dm-4/queue/read_ahead_kb 512
    write /sys/block/dm-5/queue/read_ahead_kb 512
    write /sys/block/${dev.mnt.dev.root}/queue/read_ahead_kb 512
    write /sys/block/${dev.mnt.dev.system_ext}/queue/read_ahead_kb 512
    write /sys/block/${dev.mnt.dev.product}/queue/read_ahead_kb 512
    write /sys/block/${dev.mnt.dev.vendor}/queue/read_ahead_kb 512
    write /sys/block/${dev.mnt.dev.vendor_dlkm}/queue/read_ahead_kb 512
    write /sys/block/${dev.mnt.dev.data}/queue/read_ahead_kb 512

on early-init && property:ro.vendor.build.motfactory=1
    setprop vendor.debug.hwc.plat_switch 0x13019

#on property:sys.boot_completed=1 && property:ro.boot.ssm_enable_mkp=1
#   write /proc/moto_rkp/locked 1

on property:sys.usb.accessory_current_limit=1
   write /sys/devices/platform/charger/force_pmic_icl 1000

on property:sys.usb.accessory_current_limit=0
   write /sys/devices/platform/charger/force_pmic_icl 0

on property:sys.boot_completed=1 && property:ro.vendor.build.motfactory=1
   wait /sys/class/drm/card0-DSI-1/panelPcdCheck
   chmod 0666 /sys/class/drm/card0-DSI-1/panelPcdCheck
   chmod 0444 /sys/class/drm/card0-DSI-1/panelPcdValue

